<header>
  <h1><a href="/"><img src="/img/{{site.data.members.logo}}" alt="{{ site.name }}" width="300" /></a></h1>
  <nav><ul>
    <li><a {% if location == 'about' %}class="active" {% endif %}href="/about/">About</a></li>
    <li><a {% if location == 'projects' %}class="active" {% endif %}href="/projects/">Projects</a></li>
    <li><a {% if location == 'blog' %}class="active" {% endif %}href="/blog/">Blog</a></li>
    <li><a {% if location == 'contact' %}class="active" {% endif %}href="/contact/">Contact</a></li>
  </ul>
  </nav>
</header>
